body{
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    color: #776e65;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}


header{
    margin: 20px auto;
    width: 500px;
}
.title{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.gameBtn {
    padding: 6px;
    font-size: 18px;
    width: 110px;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    background-color:#8f7a66;
    border:none; /*去除浏览器默认样式*/
    cursor: pointer;
}
.best{
    font-size: 18px;
    width: 160px;
    text-align: right;
    background-color:#fff;
    border:none; /*去除浏览器默认样式*/
    float: right;
}
.gameBtn:hover,.gameBtn:active,.gameBtn:link,.gameBtn:focus{
    border: none;
    outline: none;
}
.score{
    position: relative;
    padding: 6px 10px;
    font-size: 18px;
    width: 160px;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    background-color:#edc53f;
    float: right;
    margin: 0;
    cursor: default;
}

.cell-wrap{
    margin: 10px auto;
    width: 500px;
    height: 500px;
    position: relative;
    text-align: center;
    background: #bbada0;
    border-radius: 10px;
    font-size: 20px;
}
.grid-cell {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius:6px ;
    background: #ccc0b3;
}
.number-cell{
    position: absolute;
    text-align: center;
    border-radius: 6px;
    line-height: 100px;
}



/*分数增加的动画效果*/
@-webkit-keyframes move-up {
    0% {
        top: 0px;
        opacity: 1; }

    100% {
        top: -50px;
        opacity: 0; } }
@-moz-keyframes move-up {
    0% {
        top: 25px;
        opacity: 1; }

    100% {
        top: -50px;
        opacity: 0; }
}
@-o-keyframes move-up {
    0% {
        top: 25px;
        opacity: 1; }

    100% {
        top: -50px;
        opacity: 0; }
}

@keyframes move-up {
    0% {
        top: 25px;
        opacity: 1; }

    100% {
        top: -50px;
        opacity: 0; }
}


/*第一次出现2048的动画效果*/
@-webkit-keyframes scale{
    0%{
        -webkit-transform:scale(2,2);
    }
    100%{
        -webkit-transform:scale(1,1);
    }
}
@-moz-keyframes scale{
    0%{
        -moz-transform:scale(2,2);
    }
    100%{
        -moz-transform:scale(1,1);
    }
}
@-o-keyframes scale{
    0%{
        -o-transform:scale(2,2);
    }
    100%{
        -o-transform:scale(1,1);
    }
}

.scoreAdd{
    position: absolute;
    right: 30px;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    -o-animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
}

.gameover{
    display: none;
    z-index: 10000;
    position: absolute;
    width: 540px;
    height: 540px;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.6);
}
.gameover p{
    font-size: 50px;
}
.win{
    -webkit-animation: scale 800ms ease-in;
    -moz-animation: scale 800ms ease-in;
    -o-animation: scale 800ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
}