body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
header{
    width: 200px;
    margin:  0 auto;
}
.cell-wrap{
    margin: 10px auto;
    width: 500px;
    height: 500px;
    padding: 20px;
    position: relative;
    text-align: center;
    background: #bbada0;
    border-radius: 10px;
}
.grid-cell {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius:6px ;
    background: #ccc0b3;
}
.number-cell{
    position: absolute;
    text-align: center;
    border-radius: 6px;
    font-size: 40px;
    line-height: 100px;
}
#newGameBtn{
    padding: 6px 10px;
    font-size: 18px;
    display: block;
    width: 120px;
    line-height: 20px;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    background-color: #428bca;
}
.score{
    margin-left: 30px;
    color: #428bca;
}
.scoreAdd{
    color: rgb(245, 149, 99);
}
header p{
    display: inline-block;
}

